BASE_URL=http://localhost:8844
ADMIN_LOGIN=admin@dssl.ru
ADMIN_PWD=123456

# Runtime
RUN_MODE=prod
LOG_LEVEL=info

CORS_ORIGIN=http://localhost:3000,http://localhost:3344

# Postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=analyser_db
DATABASE_URL=postgresql+asyncpg://root:password@localhost:5432/analyser_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=password

# Oauth2
SECRET_KEY=password
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# SMTP Server Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
SMTP_STARTTLS=true
SMTP_USE_SSL=false
SMTP_TIMEOUT=10

# Email Sender Information
SMTP_FROM=noreply@example.com
SMTP_FROM_NAME=Example Inc
EMAIL_VERIFY_URL=http://localhost:8844/api/v1/user/verify-email
PASSWORD_RESET_URL=http://localhost:3000/reset-password

# Admin Notification Email
ADMIN_EMAIL=admin@example.com
